- @body_class = "csepub"
- @dark_logo = true
.wrapper
  .row
    .columns.text-center
      =image_tag "work/csepub/logo.png"
      h1 Bringing Institutional Education &amp; The Internet Closer
      Together
      hr

  .row
    .columns.large-9.large-centered

      markdown:
        My client owns a chain of College text book stores. With their unique
        perspective within the industry, they saw a need to supply professors
        with an electronic publishing platform for books and course materials.
        Many college professors have years of experience of teaching and
        consulting, but unless they went through a major publisher, they had no
        way to publish this valuable information.

      h2.text-center E Publishing Platform For Professors
      p.lead.text-center Empowering professors and unleashing their knowledge

      =image_tag "work/csepub/epublishing.png"

      markdown:

        We helped CSePub build an easy to use, yet powerful e-publishing
        platform CSePub.com. Professors all around the country now have the
        ability to publish anything as small as a course handbook to full
        featured textbook.

        The initial launch was a tremendous success. Students loved paying
        lower prices for their textbooks, enjoyed being able to access the
        books from any device, the ease of purchase, but what they
        enjoyed the most was  the relevant
        content their professor could provide in a instant. On CSePub's e
        publishing platform, adding and updating content can be done as
        quickly as it can be written. Information about current events and new
        resources can be documented in the text quickly and easily.

      .testimonial
        p 
          | 
            We are very pleased with the Phase 1 development and look
            forward to scoping out Phase 2 Exercise Packages.
        cite
          | - David Conley, CoFounder, CSePub.com

      h2.text-center Independent Exercise Packages
      p.lead.text-center A unique approach

      markdown:

        After the initial launch, we had to opportunity to work with
        nationally recgonized finance Professor Dr. Christopher Pope to build a
        Finance Exercise Program. The goal of the program was to create a
        system where any professor could quickly create engaging assignments
        for the students. This would be accomplished by organizing thousands
        of questions prepared by Dr. Pope into topics traditionally covered by
        most textbooks. Then, no matter what book or course structure was
        used, the assignments could be created independently. 

      =image_tag "work/csepub/assign.jpg", class: 'image'

      markdown:

        One unique feature of the Program is that all of the problems are
        dynamic and none are the same. Each variable used to calculate the
        answer to the question is generated differently for each user/student
        and the system solves the answer based on those variables. This unique
        feature creates challenging questions for the students and of course
        greatly discourages any ability to share answers. 

        The system also allows the option for retakes with point deductions,
        due dates, automatic instant grading, teacher overrides and more.
        Thousands and thousands of students have used the programs in the
        short time since it's launch and much positive feedback has been given
        by students, professors and department heads.

      =image_tag "work/csepub/student_view.jpg", class: 'image'



      hr
      h2.text-center Our Involvement
      p 
        | With the exception of the logo design, we've handled this
          project from the very begining. We used an agile method of
          creating the MVP (minimal viable product), we worked with
          professors to and the client to get feedback on how they would
          use the software, we handled deployment, and even provided help / tech
          support after and since the launch.
      p
        | 
          We really enjoy working with all those involved and are thrilled at
          the success they received so far. We hope to continue in our role as
          lead development company involved. We enjoy taking a concept from
          scratch, rapidly prototyping an MVP, launching, and helping it grow to
          a mature profitable product.

      h3.text-center Tech Stack
      p
        | This project has been a Ruby on Rails application from the
          beginning and has enjoyed many of the typical benefits rails
          provides like quickly up and running, ability to change quickly,
          great environment for automated testing, safe deployment
          strategies, very secure and scalable.

      p 
        | We also use a lot of HTML5, responsive design, jQuery and
          jQuery UI, and if you're really geeky some behind the scenes
          technologies: (rspec, selenium, postresql, Rack Space cloud
          servers). We even created a gem along the way for all the
          difficult financial calculations.
