.row.view_selector
  .columns.large-offset-9.large-3.text-right
    =link_to post_titles_path, title: "List View", data: {view_style: ""} do 
      =fa_icon 'list'
    =link_to posts_path, title: "Blog View", data: {view_style: ""} do 
      =fa_icon 'file-text-o'
