-@meta_title = "Blog About Web Development, Ruby on Rails and Independent Consulting"
= render 'feed_link'

= render :partial => 'posts/view_selector'

%section#posts
  - if collection.present?
    = render collection, :summary => false
    %hr
    = paginate collection
  - else
    No posts found.

.search
  %hr
  %h3 Search
  =javascript_include_tag "search"
  <gcse:searchbox-only resultsUrl="/results"></gcse:searchbox-only>
  %hr
