-@meta_title = "Blog About Web Development, Ruby on Rails and Independent Consulting"
= render 'feed_link'

%section#posts
  - if collection.present?
    = render collection, :summary => false
    %hr
    = paginate collection
  - else
    No posts found.
