= render 'feed_link'
-@meta_title = resource.title
= render resource, :summary => false
%hr
=render "shared/newsletter_signup"
%hr
=render "discus_comments"
- content_for :large_photo do
  = render "posts/large_photo", photo: @large_photo
