body.blog {
  font-family: $blog-body-font-family;
  section#posts, article.post {
    @include grid-row;
    margin-bottom: 3em;
    h1, h2, h3, h4, h5, h6 {
      font-family: $blog-body-font-family;
    }
    p, ol, ul {
      font-size: 1.4em;
    }
    h1 {
     border-bottom: 1px solid #CCC;
    }
    h4 {
      font-weight: bold;
    }
    .posted-by {
      margin-bottom: 3em;
      img {
        float: left;
        margin-right: 1em;
      }
      .meta {
        padding-top: 7px;
        color: #949494;
      }
    }

  }

  section#posts h1 {
    font-size: 2em;
  }

  article.post {
    h1 {
      font-size: 2.8em;
    }
    h2 {
      font-size: 2.2em;
    }
    h3 {
      font-size: 1.8em;
    }
  }


  .footnote {
    font-size: 80%;
    font-style: italic;
  }
}


