@import "foundation_and_overrides";
@import "colors";
@import "github";
@import "blog";
@import "home";
@import "font-awesome";

body {
  background: #F7F7F7;
  ul, ol {
    margin-left: 2em;
  }
  h1, h2, h3, h4, h5, h6 {
    a { 
      color: $header-font-color;
    }
  }

  h4 {
    font-weight: bold;
  }
  code {
    font-weight: normal;
    color: #7F0A0C;
    font-size: 82%;
    background: #E6E6E6;
    padding: 7px 4px;
  }
  pre {
    padding: 20px;
    background: #F0F0F0;
    line-height: 1.3em;
    margin-bottom: 3em;
    overflow-y: auto;
    font-size: 1.2em;
  }
}


.menu {
  background: $blue;
  margin-bottom: 3em;
  .logo {
    text-align: left;
    img {
      height: 70px;
    }
  }

  .icon-nav  {
    margin-top: 1.2em;
    text-align: right;
    a {
      //color: rgba(255, 255, 255, 0.7);
      color: darken($blue, 7%);
      font-size: 2em;
      margin-right: 1em;
      &:hover {
        color: #fff;
      }
    }

  }
}

section.payment {
  input[type='text'] {
    height: 3em;
  }
}
