@mixin font_family {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
@mixin font_weight {
  font-weight: 100;
}
body.home {
  @include dark-menu($blue);
  @include font_family;
  section {
    height: 100%;
    position: relative;

    .background {
      background: $blue;
      height: 100%;
      .pattern {
        background: image_url("work/csepub/pattern.png") repeat;
        height: 100%;
      }

      .middle-page {
        position: absolute;
        width: 100%;
        top: 40%;
      }

    }

    a.down-arrow {
      position: absolute;
      bottom: 0;
      left: 50%;
      color: #fff;
      margin-left: -37px;

      i {
        font-size: 5em;
        opacity: 0.3;
      }
    }
  }

  // Intro Section
  
  section.intro {
    height: 100%;
    color: #fff;
    text-align: center;
    .background {
      @include background-image(radial-gradient(closest-corner, rgba(16, 47,
      70, 0) 60%, rgba(16, 47, 70, 0.26)), linear-gradient(108deg,
      $blue,#1A2980 90%));

      .pattern {
        background: image_url("work/csepub/pattern.png") repeat;
      
      }
    }

    .we-do {
      padding-top: 5em;
      .call-to-action {
        font-size: 2em;
        margin-top: 4em;
        h2 {
          color: #FFF;
          opacity: 0.8;
        }
      }
      h1 {
        color: #fff;
        @include font_family;
        @include font_weight;
        font-size: 2.2em;
      }
      .icons {
        img {
          height: 90px;
        }
      }
    }
  }

  // Csepub Work Secton
  section.csepub-intro {
    color: #fff;
    .middle-page {
      margin-top: -10%;
    }
    .background {
      @include background-image(radial-gradient(closest-corner, rgba(16, 47,
      70, 0) 60%, rgba(16, 47, 70, 0.26)), linear-gradient(108deg,
      #353535,#252525 90%));

      .pattern {
        background: image_url("work/csepub/pattern.png") repeat;
      
      }
    }
    h1 {
      color: #fff;
      margin-top: 1.4em;
    }
    .button {
      background: transparent;
      border: 1px solid #fff;
      font-size: 1em;
    }
  }

  // CongrueIt Work Secton
  section.congrueit {
    color: #fff;
    .middle-page {
      margin-top: -10%;
    }
    .background {
      @include background-image(radial-gradient(closest-corner, rgba(16, 47,
      70, 0) 60%, rgba(16, 47, 70, 0.26)), linear-gradient(108deg,
      #6B2D84, #C547A5 90%));

      .pattern {
        background: image_url("work/csepub/pattern.png") repeat;
      
      }
    }
    h1 {
      color: #fff;
      margin-top: 1.4em;
    }
    .button {
      background: transparent;
      border: 1px solid #fff;
      font-size: 1em;
    }
  }
}
