@mixin font_family {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
@mixin font_weight {
  font-weight: 100;
}
body.home {
  @include dark-menu($blue);
  .menu {
    margin-bottom: 0;
  }
  @include font_family;
  section {
    text-align: center;
    .button {
      background: transparent;
      border: 1px solid #fff;
      font-size: 1em;
    }

    h1 {
      color: #fff;
      margin-top: 1.4em;
    }

    .columns {
      text-align: center;
    }

    .background {
      background: $blue;
      .pattern {
        background: image_url("work/csepub/pattern.png") repeat;
        padding-bottom: 3em;
      }
      .middle-page {
        width: 100%;
        top: 40%;
      }

    }

    a.down-arrow {
      color: #fff;

      i {
        font-size: 5em;
        opacity: 0.3;
      }
    }
  }

  // Intro Section
  
  section.intro {
    color: #fff;
    .background {
      @include background-image(radial-gradient(closest-corner, rgba(16, 47,
      70, 0) 60%, rgba(16, 47, 70, 0.26)), linear-gradient(108deg,
      $blue,#1A2980 90%));

      .pattern {
        background: image_url("work/csepub/pattern.png") repeat;
      
      }
    }

    .we-do {
      .call-to-action {
        font-size: 2em;
        h2 {
          color: #FFF;
          opacity: 0.8;
        }
      }
      h1 {
        @include font_family;
        @include font_weight;
        font-size: 2.2em;
      }
      .icons {
        img {
          height: 90px;
        }
      }
    }
  }

  // Csepub Work Secton
  section.csepub-intro {
    color: #fff;
    .background {
      @include background-image(radial-gradient(closest-corner, rgba(16, 47,
      70, 0) 60%, rgba(16, 47, 70, 0.26)), linear-gradient(108deg,
      #353535,#252525 90%));

      .pattern {
        background: image_url("work/csepub/pattern.png") repeat;
      }
    }
  }

  // CongrueIt Work Secton
  section.congrueit {
    color: #fff;
    .background {
      @include background-image(radial-gradient(closest-corner, rgba(16, 47,
      70, 0) 60%, rgba(16, 47, 70, 0.26)), linear-gradient(108deg,
      #6B2D84, #C547A5 90%));

      .pattern {
        background: image_url("work/csepub/pattern.png") repeat;
      }
    }
  }

  // About Secton
  section.about {
    color: #fff;
    .background {
      @include background-image(radial-gradient(closest-corner, rgba(16, 47,
      70, 0) 60%, rgba(16, 47, 70, 0.26)), linear-gradient(108deg,
      #5a5f9d, #f1b5c0 90%));

      .pattern {
        background: image_url("work/csepub/pattern.png") repeat;
      }
    }
  }
}
