.menu
  .row.collapse
    .columns.small-5
      .logo
        =link_to "/" do
          =image_tag "logo.png"
    .columns.small-7
      .icon-nav
        =link_to "/blog", title: "Blog" do
          =fa_icon "rss"
        =link_to "http://www.twitter.com/BrownWebDesign", title: "Contact Us" do
          =fa_icon "envelope"
        =link_to "/schedule", title: "Schedule A Phone Call" do
          =fa_icon "calendar"
        =link_to "/payments", title: "Make A Payment" do
          =fa_icon "money"
