<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body class="blog">
<%= render "layouts/menu" %>
<%= yield(:large_photo) %>
<div class="row">
  <div class="columns large-9 large-centered">
    <%= yield %>
  </div>
</div>
</body>
</html>
